body {
	font-family: 'Nunito', sans-serif;
	color: #666;
}

a {
	color: #666;
	text-decoration: none;
}

li {
	list-style: none;
}

.clearfix {
	clear: both;
}

/* HOME */

.box-products h2 {
	font-weight: 200;
	font-size: 16px;
	text-transform: uppercase;
}